/* font-family: 'Open Sans', sans-serif;-- bold */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Crimson Text', serif; */


/* General reset */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 14px/1 'Open Sans','Roboto', arial, helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul, nav, nav a {
	margin: 0;
	list-style: none;
	padding: 0;
}

input, select, textarea, button{
	outline: none;
	border: none;
	font-family: 'Open Sans';
}

textarea{
	resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}

/* General settings */

h1{
	font-size: 30px;
	font-weight: bold;

}
h3{
	font-size: 50px;
}
h4{
	font-size: 26px;
	font-weight: bold;
	line-height: 68px;
	text-align: left;
}
h5{
	font-size: 28px;
}
h6{
	font-weight: bold;
	font-size: 16px;
}

.btn{
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #e5e5e5;
	padding: 0 102px;
	line-height: 75px;
	text-align: center;
	background: #fff;
}
.btn:hover{
	border-color: #f14a58;
	color: #f14a58;
}

.container{
	width: 1300px;
	margin:  0 auto;
	padding: 0px 60px;
}

hr{	
	border: none;
	background-color: #e5e5e5;
	width: 100%;
	height: 2px;
	margin: 0;	
}
.ic-tw-grey, .ic-tw, .ic-loupe, .ic-bag, .ic-fb{
	display: inline-block;
	background: url('../img/sprite.jpg') no-repeat;
	overflow: hidden; text-indent: -9999px; text-align: left; 
}

.ic-tw-grey { background-position: -0px -0px; width: 14px; height: 11px; }
.ic-tw { background-position: -0px -11px; width: 14px; height: 11px; }
.ic-loupe { background-position: -0px -22px; width: 13px; height: 13px; }
.ic-bag {
	background-position: -0px -35px;
	width: 12px;
	height: 12px;
	margin-left: 55px;
	margin-right: 15px;
}
.ic-fb {
	background-position: -0px -47px; width: 8px; height: 14px;
	margin-right: 20px;
}

/* START PAGE START */
/* HEADER START */
.headers{
	overflow: hidden;
	margin-bottom: 25px;
	padding-top: 30px;
}
.admin{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	float: right;
}
.admin div{
	display: inline-block;
}
header h1{
	float: left;
}
.navigate{
	margin-bottom: 25px;
	font-family: 'Open Sans';
	font-weight: bold;
}
.navigate li{
	display: inline-block;
	margin-right: 65px;
	font-size: 13px;
}
.navigate li:hover a, .navigate li:active a{
	color: #f14a58;
}
li.search{
	color: #a8a8a8;
	border-bottom: 2px solid #a8a8a8;
	width: 120px;
	margin-left: 20px;
	margin-right: 0;
}
.search input{
	color: #a8a8a8;
	font-size: 12px;
	font-weight: bold;
	width: 79%;
	display: inline-block;
}
.search input::-webkit-input-placeholder {
	color: #a8a8a8;
  }

.search span{
	width: 20%;
	float: right;
}

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
	/* 0% { left: 0%; }
	2.5% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	50% { left: -200%; }
	75% { left: -300%; }
	100% { left: -400%; }	 */
}

/* HEADER END */
/* MAIN START */

main{
	text-align: center;
}
	
.slider-img { 
	overflow: hidden;
	margin-left: -60px;
	margin-right: -60px;
}
.slider-img figure img { 
	width: 1300px; 
	float: left; 
}
.slider-img figure { 
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	text-align: left;
	font-size: 0;
	animation: 10s slidy infinite; 
}
.slide-indicator{
	text-align:center;
	margin: 37px 0;
}
.dot{
	height: 6px;
	width: 6px;
	margin: 0 2px;
	background-color: #d2d2d2;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;	
}
.dot.active {
	background-color: #f14a58;
}
.sale-wrap{
	margin: 0 -60px;
}
.new, .sale{
	width: 49%;
	display: inline-block;
	position: relative;
	position: -1;
}
.new img, .sale img{
	width: 100%;;
}
.main-category .text{
	/* text-align: center; */
	position: absolute;
	right: 100px;
	top: 68px;
}
.text p{
	font: 16px 'Times New Roman';
	color: #757575;
	/* font-size: 16px; */
	font-style: italic;
	margin-top: 13px;
}
main h3{
	/* text-align: center; */
	margin: 143px 0 102px 0;
}

.row{
	font-family: 'Roboto';
	overflow: hidden;
	margin-left: -37px;
	margin-right: -37px;
	/* margin-bottom: 85px; */
}
/* .catalog-wrap .item{
	float: left;
	width: 24%;
	padding: 0 37px;
} */
.item{
	position: relative;
	height: 465px;
	float: left;
	width: 25%;
	padding: 0 37px;
	margin-bottom: 80px;
}
.text-hover{
	position: absolute;
	top: 0;
	bottom: 124px;
	left: 37px;
	right: 37px;;
	font-size: 22px;
    font-weight: bold;
    line-height: 320px;
    text-align: center;	
	display: none;
}
.text-hover a{
	color: #f14a58;
}

.item img{
	margin-bottom: 50px;
	/* width: 240px;
	height: 320px; */
	width: 100%;
}

.item:hover .text-hover{
    display: block;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}

.catalog-wrap p{	
	font-weight: bold;
	margin-bottom: 22px;;
}
.new-arrivals::after{
	content: "New";	
	margin-left: 5px;
	font: 16px 'Times New Roman';
	font-style: italic;
	color: #757575;
}
.btn.all{
	margin-top: 50px;
	margin-bottom: 140px;	
}

/* MAIN END */
/* FOOTER START */
footer .container{
	overflow: hidden;
}
.main-footer{
	padding-bottom: 115px;
}
.width-25{
	width: 24%;
	float: left;
	font-family: 'Roboto';
}
.width-25 h6{
	font-family: 'Open Sans';
	margin-bottom: 50px;
}
.width-25 li{
	margin-bottom: 28px;
}
.width-25 li:hover{
	text-decoration: underline;
}
.width-25.questions h6, .width-25.phone h6{
	margin-bottom: 18px;
}
.questions{
	padding-left: 55px;
}
.questions p+p{
	margin: 80px 0 47px 0;
	font: 16px/1.8 'Times New Roman';
	color: #757575;
	font-style: italic;
	margin-right: -80px;
}
.phone input{
	font: 14px 'Roboto';
}
.last-block{
	text-align: center;
	font-family: 'Roboto';
	font-weight: bold;
	height: 80px;
	line-height: 80px;
}
.last-block .share{
	font-family: 'Open Sans';
	font-size: 18px;
}
.last-block .count{	
	font-size: 12px;
	font-weight: normal;
}
.last-block li, ul{
	display: inline-block;
}
.last-block ul{
	float: right;
}
.last-block li{
	margin-left: 38px;
}
.last-block .copy{
	float: left;
}

/* FOOTER END */

/* CATALOG PAGE START */
.drop-wrapper{
	height: 66px;
	margin: 0 auto;
	width: 100%;	
	font-weight: bold;
}
.drop + .catalog-wrap{
	margin-top: 60px;
}
.drop-wrapper ul{
	width: 100%;
}
.drop-wrapper div{
	display: inline-block;
	float: left;
}
.drop-wrapper li{
	display: inline-block;
	width: 16%;
	padding-left: 20px;
}
.drop-wrapper span{
	float: right;
	line-height: 66px;
}
.text{
	margin-top: 25px;
}
.info-text h5{
	font-size: 24px;
	margin-bottom: 30px;
}
.info-text h5 span{
	color: #f14a58;
}
.info-text p{
	font: 16px 'Times New Roman';
	font-style: italic;
	margin-bottom: 38px;
}
.btn.more{
	margin: 10px 0 150px 0;
}
.baner{	
	margin-bottom: 60px;
}
.baner .container{
	overflow: hidden;
}
.baner img{
	height: 385px;
}
.baner-big, .baner-small-1, .baner-small-2{
	/* height: 385px; */
	float: left;
}
.baner-big{	
	width: 49%;	
}
.baner-small-1, .baner-small-2{	
	width: 25%;
}

.baner-big img, .baner-small-1 img, .baner-small-2 img{
	width: 100%;
}

/* CATALOG PAGE END */
/* ITEM PAGE START */
.back-nav{
	overflow: hidden;
	line-height: 66px;
}
.back-nav a{
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.product-wrap{
	padding: 60px 0 160px 0;
}
.picture-block{
	width: 50%;
	overflow: hidden;
	display: inline-block;	
}
.product-wrap img{
	float: left;
}
.product-big{
	width: 100%;
}
.additional-pic{
	width: 33.3%;		
	height: 130px;
	float: left;
}
.shadow{
	display: none;
	position: relative;
	height: 130px;
	width: 100%;
	background: black;
	opacity: 0.5;
}
.additional-pic:hover .shadow{
	display: block;
}
.description-block{
	display: inline-block;
	width: 49%;
	padding-left: 50px;
	/* padding-top: 25px; */
	vertical-align: top;
	text-align: center;
}
.description-block h4{
	font-family: 'Roboto';	
}
.description-block p{
	font: 16px 'Times New Roman';
	font-style: italic;	
	margin-bottom: 50px;
	text-align: left;
}
.prod-price{	
	font-family: 'Roboto';
	font-size: 25px;
	margin-bottom: 50px;
	text-align: left;
}

.description-block input[type="radio"] {
    display:none; 
}

.description-block label {
    display:inline-block;
	height: 40px;
	width: 80px;
	line-height: 40px; 
	font-weight: bold;
	border: 1px solid transparent;
	text-align: center;
	margin-right: 30px;   
}

.description-block input[type="radio"]:checked + label {    
    border: 1px solid #e5e5e5;
}
.size{
	text-align: left;
}
.size span, .color span{
	margin-right: 40px;
}
.color{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: left;
}
.color span{
	margin-right: 31px;
	margin-top: 20px;
}
/* ITEM PAGE END */
/* SHOPPING BAG PAGE START */
.bag-wrap{
	text-align: left;
	padding-top: 30px;
}
.item-bag{
	width: 49%;
	float: left;
	font-family: 'Roboto';
	margin-bottom: 93px;
}

.goods-img{
	float: left;
	width: 240px;
	height: 340px;	
}
.goods-info{
	display: inline-block;
	padding-left: 25px;
	
}

.goods-info .name{
	font-weight: bold;
	margin: 13px 0 18px 0;
}
.price-bag{	
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 40px 0;	
}
.size-item{
	margin: 15px 0 15px 0;
}
.delete{
	margin-top: 37px;
	color: #f14a58;
	font-weight: bold;
	font-family: 'Open Sans';
}
.basket-info{
	font-size: 12px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 70px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
}
.empty, .cost{
	display: inline-block;	
}
.buy .btn{
	margin-left: 320px;
	margin-right: 320px;
}

/* SHOPPING BAG PAGE END */
/* MEDIA QUERY START */

/* @media (max-width: 1280px) {
	.container {
		width: 950px;
	}
	.about-us p{
		padding: 20px 50px 40px 50px;
		font-size: 18px;
		text-align: center;
	}
}
*/

@media (max-width: 1300px) {
	.container {	 
		width: 90%;
	}
	.navigate li{
		margin-right: 43px;
	}
	li.search{
		margin-left: 15px;
		margin-right: 0;
	}
}

@media (max-width: 1250px){
	.navigate li{
		margin-right: 15px;
	}
	.phone{
		padding-left: 30px;
	}
}
	

@media (max-width: 1023px){
	.container {	 
		width: 100%;
	}
}


/* MEDIA QUERY END */