/* font-family: 'Open Sans', sans-serif;-- bold */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Crimson Text', serif; */


/* General reset */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0 auto;
	color: #000;
	background: #fff;
	font: 14px/1 'Open Sans','Roboto', arial, helvetica, sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img {
	border: none;
}
a {
	color: #000;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul, nav, nav a {
	margin: 0;
	list-style: none;
	padding: 0;
}

input, select, textarea, button{
	outline: none;
	border: none;
	font-family: 'Open Sans';
}

textarea{
	resize: vertical;
}
button, input[type="submit"]{
	cursor: pointer;
}

/* General settings */

h1{
	font-size: 30px;
	font-weight: bold;
}
h1.hidden{
	display: none;
}
h3{
	font-size: 50px;
}
h4{
	font-size: 26px;
	font-weight: bold;
	line-height: 68px;
	text-align: left;
}
h5{
	font-size: 28px;
}
h6{
	font-weight: bold;
	font-size: 16px;
}

.btn{
	font-size: 24px;
	font-weight: bold;
	border: 1px solid #e5e5e5;
	padding: 0 102px;
	line-height: 75px;
	text-align: center;
	background: #fff;
}
.btn:hover{
	border-color: #f14a58;
	color: #f14a58;
}

.container{
	width: 1300px;
	margin:  0 auto;
	padding: 0px 60px;
}

hr{	
	border: none;
	background-color: #e5e5e5;
	width: 100%;
	height: 2px;
	margin: 0;	
}
.ic-tw-grey, .ic-tw, .ic-loupe, .ic-bag, .ic-fb{
	display: inline-block;
	background: url('../img/sprite.jpg') no-repeat;
	overflow: hidden; 
	/* text-indent: -9999px; text-align: left;  */
}

.ic-tw-grey { background-position: -0px -0px; width: 14px; height: 11px; }
.ic-tw { background-position: -0px -11px; width: 14px; height: 11px; }
.ic-loupe { background-position: -0px -22px; width: 13px; height: 13px; }
.ic-bag {
	background-position: -0px -35px;
	width: 12px;
	height: 12px;
	margin-left: 55px;
	margin-right: 15px;
}
.ic-fb {
	background-position: -0px -47px; width: 8px; height: 14px;
	margin-right: 20px;
}

/* START PAGE START */
/* HEADER START */
.headers{
	overflow: hidden;
	margin-bottom: 25px;
	padding-top: 30px;
}
.admin{
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	float: right;
}
.admin div{
	display: inline-block;
}
header h1{
	float: left;
}
.navigate{
	margin-bottom: 25px;
	font-family: 'Open Sans';
	font-weight: bold;
}
.navigate li{
	display: inline-block;	
	font-size: 13px;
}
.navigate li+li{
	margin-left: 65px;
}
.navigate li:hover a, 
.navigate li:active a, 
.header-menu li:hover a, 
.header-menu li:active a{
	color: #f14a58;
}
.search form{
	display: inline-block;
	width: 120px;
}

.search input{
	color: #a8a8a8;
	font-size: 12px;
	font-weight: bold;	
	margin-left: 20px;
	margin-right: 0;
	display: inline-block;
	border-bottom: 2px solid #a8a8a8;
	padding-bottom: 9px;
}
.ic-loupe{	
	position: relative;
	right: -35px;
	display: inline-block;
}
.search input::-webkit-input-placeholder {
	color: #a8a8a8;
}

/* HEADER END */
/* MAIN START */

main{
	text-align: center;
}

/* SLIDER */
.slideshow{
	margin-left: -60px;
	margin-right: -60px;
	position: relative;
}
.mySlides {
    display: none;
}
.mySlides img{
	width:100%;
}
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;	
	width: auto;
	margin-top: -44px;
	padding: 40px 10px 40px 10px;
	color: white;
	background: #f14a58;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;	
}

  /* Position the "next button" to the right */
.next {
	right: 0;	
}
.prev{
	left:0;
}
  
  /* On hover, add a black background color with a little bit see-through */
/* .prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
} */
.dot {
	cursor:pointer;
	height: 6px;
	width: 6px;
	margin: 0 2px;
	background-color: #d2d2d2;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
.active, .dot:hover {
	background-color: #f14a58;
}
  
  /* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}






.sale-wrap{
	margin: 0 -60px;
}
.sale-wrap a{
	display: inline-block;
}
.new, .sale{
	width: 49%;
	display: inline-block;
	position: relative;	
}
.new img, .sale img{
	width: 100%;;
}
.main-category .text{	
	position: absolute;
	right: 100px;
	top: 68px;
}
.text p{
	font: 16px 'Times New Roman';
	color: #757575;
	/* font-size: 16px; */
	font-style: italic;
	margin-top: 13px;
}
main h3{
	/* text-align: center; */
	margin: 143px 0 102px 0;
}

.row{
	font-family: 'Roboto';
	overflow: hidden;
	margin-left: -37px;
	margin-right: -37px;
}

.item{
	position: relative;
	height: 450px;
	float: left;
	width: 25%;
	padding: 0 37px;
	margin-bottom: 80px;
}
.text-hover{
	position: absolute;
	top: 0;
	bottom: 24%;
	left: 37px;
	right: 37px;;
	font-size: 22px;
    font-weight: bold;
    line-height: 320px;
    text-align: center;	
	display: none;
}
.text-hover a{
	color: #f14a58;
}

.item img{
	margin-bottom: 50px;
	/* width: 240px;
	height: 320px; */
	width: 100%;
}

.item:hover .text-hover{
    display: block;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
}

.catalog-wrap p{	
	font-weight: bold;
	margin-bottom: 22px;;
}
.new-arrivals::after{
	content: "New";	
	margin-left: 5px;
	font: 16px 'Times New Roman';
	font-style: italic;
	color: #757575;
}
.btn.all{
	margin-top: 50px;
	margin-bottom: 80px;	
}

/* MAIN END */
/* FOOTER START */
footer .container{
	overflow: hidden;
}

.main-footer .container div{
	padding-bottom: 115px;
	padding-top: 60px;
}
.phone-none{
	display: none;
}

.width-25{
	width: 24%;
	float: left;
	font-family: 'Roboto';
}
.width-25 h6{
	font-family: 'Open Sans';
	margin-bottom: 50px;
}
.width-25 li+li{
	margin-top: 28px;
}
.width-25 li:hover{
	text-decoration: underline;
}
.width-25.questions h6, .width-25.phone h6{
	margin-bottom: 18px;
}
.tweet{
	display: inline-block;
}
.care{
	border-right: 1px solid #e5e5e5;
}
.hr-hide{
	display: none;
}
.questions{
	padding-left: 55px;
}
.questions p+p{
	margin: 80px 0 47px 0;
	font: 16px/1.8 'Times New Roman';
	color: #757575;
	font-style: italic;
	margin-right: -80px;
}
.phone input{
	font: 14px 'Roboto';
}
.last-block{
	text-align: center;
	font-family: 'Roboto';
	font-weight: bold;
	height: 80px;
	line-height: 80px;
}
.copy-block{
	display: inline-block;
	width: 74%;
}

.last-block .share{
	font-family: 'Open Sans';
	font-size: 18px;
}
.last-block .count{	
	font-size: 12px;
	font-weight: normal;
}
.last-block li, ul{
	display: inline-block;
}
.last-block ul{
	/* float: right; */
	width: 25%;
	display: inline-block;
}
li.fb{
	display: none;
}
.last-block li+li{
	margin-left: 30px;
}
.last-block .copy{
	float: left;
}

/* FOOTER END */

/* CATALOG PAGE START */
.info-text h5{
	font-size: 24px;
	margin-bottom: 30px;
}
.info-text h5 span{
	color: #f14a58;
}
.info-text p{
	font: 16px 'Times New Roman';
	font-style: italic;
	margin-bottom: 38px;
}
.btn.more{
	margin: 10px 0 150px 0;
}
.baner{		
	margin: 0 -60px 60px -60px;
}

.baner-big, .baner-small-1, .baner-small-2{	
	display: inline-block;
}
.baner-big{	
	width: 49%;	
}
.baner-small-1, .baner-small-2{	
	width: 25%;
	margin-left: -4px;
}

.baner-big img, .baner-small-1 img, .baner-small-2 img{
	width: 100%;
	height: 383px;
}
span.more{
	font: 16px 'Times New Roman';
	font-style: italic;
	color: #757575;
}

/* Dropdown menu */

.drop-wrapper{
	height: 66px;
	margin: 0 auto;
	width: 100%;	
	font-weight: bold;
}
.drop + .catalog-wrap{
	margin-top: 60px;
}
.drop-wrapper ul{
	width: 100%;
}
.drop-wrapper .text{
	float: left;
}
.value{
	color: #f14a58;
	font-size: 16px;
	width: 100%;
    height: 20px;
	text-align: left;
	position: absolute;
	bottom: 0;
    
}
.drop-menu > li{
	display: inline-block;
	width: 16%;
	padding-left: 20px;
	position: relative;
}
.drop-wrapper span{
	float: right;
	line-height: 66px;
}
.text{
	margin-top: 25px;
}

.drop-hidden{
	display: none;
	width: 200px;
	position: absolute;
	z-index: 5;
	top: 68px;
    left: -15px;
    background: white;
	padding: 20px;
	border:  1px solid #e5e5e5;
	box-shadow: 3px 2px #e5e5e5;
}
.drop-hidden li{
	display: block;
	margin-bottom: 20px;
	text-align: left;
}
.drop-hidden li:hover{
	color: #f14a58;
	background: #f7f7f7
}
.drop-menu li:hover .drop-hidden{
	display: inline-block;
}

/* CATALOG PAGE END */
/* ITEM PAGE START */
.back-nav{
	overflow: hidden;
	line-height: 66px;
}
.back-nav a{
	float: left;
	font-size: 16px;
	font-weight: bold;
}
.product-wrap{
	padding: 60px 0 160px 0;
}
.picture-block{
	width: 50%;
	overflow: hidden;
	display: inline-block;	
}
.product-wrap img{
	float: left;
	width: 100%;
}

.product-big{
	width: 100%;
}
.additional-pic{
	width: 33.3%;	
	float: left;
	position: relative;
}

.shadow{
	display: none;
	position: absolute;
	background: black;
	opacity: 0.5;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.additional-pic:hover .shadow{
	display: block;
}
.description-block{
	display: inline-block;
	width: 49%;
	padding-left: 50px;	
	vertical-align: top;
	text-align: center;
}
.description-block h4{
	font-family: 'Roboto';	
}
.description-block p{
	font: 16px 'Times New Roman';
	font-style: italic;	
	margin-bottom: 50px;
	text-align: left;
}
.visible-mb{
	display: none;
}
.visible-dt{
	display: block;
}
.prod-price{	
	font-family: 'Roboto';
	font-size: 25px;
	margin-bottom: 50px;
	text-align: left;
}

.description-block input[type="radio"] {
    display:none; 
}

.description-block label {
    display:inline-block;
	height: 40px;
	width: 80px;
	line-height: 40px; 
	font-weight: bold;
	border: 1px solid transparent;
	text-align: center;
	margin-right: 30px;   
}

.description-block input[type="radio"]:checked + label {    
    border: 1px solid #e5e5e5;
}
.size{
	text-align: left;
}
.size span, .color span{
	margin-right: 40px;
}
.color{
	margin-top: 20px;
	margin-bottom: 50px;
	text-align: left;
}
.color span{
	margin-right: 31px;
	margin-top: 20px;
}
/* ITEM PAGE END */
/* SHOPPING BAG PAGE START */
.bag-wrap{
	text-align: left;
	padding-top: 30px;
}
.bag-wrap p{
	text-align: center;
	margin: 30px;
	font-size: 20px;
}
.item-bag{
	width: 49%;
	height: 342px;
	float: left;
	font-family: 'Roboto';
	margin-bottom: 93px;
	overflow: hidden;
}
.min-1, .plus-1{
	color: #f14a58;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
}

.goods-img{
	float: left;
	width: 45%;	
	position: relative;
}
.goods-img img{
	width: 100%;
}
.goods-img:hover .shadow-item{
	opacity: 0.5;
}
.shadow-item{
	background: black;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.goods-info{
	display: inline-block;
	padding-left: 25px;
	width: 55%;
}

.goods-info .name{
	font-weight: bold;
	margin: 13px 0 18px 0;
}
.price-bag{	
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0 40px 0;	
}
.size-item{
	margin: 15px 0 15px 0;
}
.delete{
	margin-top: 37px;
	color: #f14a58;
	font-weight: bold;
	font-family: 'Open Sans';
	cursor: pointer;
}
.basket-info{
	font-size: 12px;
	font-weight: bold;
	margin-top: 35px;
	margin-bottom: 70px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #f7f7f7;
	border: 1px solid #e5e5e5;
}
.basket-info span{
	color: #f14a58;
}
.empty, .cost{
	display: inline-block;
}
.empty{
	cursor: pointer;
}
.cost p{
	font-weight: bold;
}
.buy .btn{	
	margin: 0 20% 60px 20%;
}

/* SHOPPING BAG PAGE END */

/* burger */

.burger {
	display: none;
	float: right;
    margin-top: -53px;
	width: 15px;
	height: 12px;
	border: 0;
	background: none;
	outline: 0;
	padding: 0;
	cursor: pointer;
	border-bottom: 2px solid black;	
	transition: border-bottom 1s ease-in-out;
	-webkit-transition: border-bottom 1s ease-in-out;
	-ms-transition: border-bottom 1s ease-in-out;
}

.burger:before {
	content: "";
	display: block;
	border-bottom: 2px solid black;
	width: 100%;
	margin-bottom: 3px;
	transition: transform 0.5s ease-in-out;    
	-webkit-transition: -webkit-transform 0.5s ease-in-out;	
}

.burger:after {
	content: "";
	display: block;
	border-bottom: 2px solid black;
	width: 100%;
	margin-bottom: 3px;
	transition: transform 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
}

.burger.open {	
	height: 35px;
	border-bottom: 2px solid transparent;
	/* transition: border-bottom 0.8s ease-in-out;
	-webkit-transition: border-bottom 0.8s ease-in-out; */
}
.burger.open:before {	
	border-bottom: 2px solid #f14a58;
	transform: rotate(-405deg) translateY(1px) translateX(-3px);
	-webkit-transform: rotate(-405deg) translateY(-3px) translateX(0px);      
	transition: transform 0.5s ease-in-out;
	-webkit-transform: -webkit-transform 0.5s ease-in-out;
}

.burger.open:after {
	border-bottom: 2px solid #f14a58;
	transform: rotate(405deg) translateY(-4px) translateX(-6px); 
	-webkit-transform: rotate(405deg) translateY(-4px) translateX(-6px);
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
}
/* HEADER MENU */
.header-menu{
	font-size: 24px;
	font-weight: bold;
	z-index: 2;
	display: block;
	position: absolute;
	background: #fff;
	width: 100%;
}
.header-menu.is-hidden{
	display: none;
}
.header-menu li{
	list-style: none;
	/* width: 100%; */
}
.header-menu li+li{
	margin-top: 40px;
}




/* MEDIA QUERY START */


@media (max-width: 1300px) {
	.container {	 
		width: 90%;
	}
	.navigate li+li {
		margin-left: 35px;
	}
	li.search{
		margin-left: 15px;
		margin-right: 0;
	}
	.last-block li+li {
		margin-left: 5px;
	}
	.baner-big img, .baner-small-1 img, .baner-small-2 img{		
		height: 360px;
	}
	.text-hover {		
		bottom: 34%;
	}
	/* .buy .btn{	
		margin: 0 150px 60px 150px;
	} */
}

@media (max-width: 1250px){
	.navigate li+li {
		margin-left: 17px;
	}
	.phone{
		padding-left: 30px;
	}
	.copy-block{		
		width: 59%;
	}
	.last-block ul{
		width: 40%;
	}
	.text-hover {		
		bottom: 38%;
	}
	.description-block label{
		margin-right: 0;
	}
}	
@media screen and (max-width: 1160px){
	.text-hover {		
		bottom: 44%;
	}
	.buy .btn{	
		margin: 0 15% 60px 15%;
	}
}

@media screen and (max-width: 1023px){
	.container {	 
		width: 100%;
		padding: 0 39px 0 39px;
	}
	.navigate li{
		font-size: 12px;
	}
	.search form{
		display: none;
		width: 0;		
	}
	.search form.block{
		display: inline-block;
		position: relative;
		right: 157px;		
	}
	.navigate li+li {
		margin-left: 40px;
	}
	.slideshow, .baner{
		margin-left: -39px;
		margin-right: -39px;
	}
	.prev, .next{
		display: none;
	}
	main h3{
		margin: 100px 0 80px 0;
	}
	.ic-loupe{
		right: 0;
	}
	.sale-wrap {
		margin: 0 -39px;
	}
	.main-category .text{
		right: 38px;
		top: -6px;
	}
	.row{
		margin-left: -20px;
		margin-right: -20px;
	}
	.item{
		width: 33.3%;
		padding: 0 20px;		
	}
	.item img {
		margin-bottom: 40px;		
	}
	.item.hide-1{
		display: none;
	}
	.text-hover {		
		bottom: 9%;
		line-height: 18em;
		margin-left: -20px;
		margin-right: -20px;
	}
	.width-25{
		width: 33.3%
	}
	.care {
		border-right: none;;
	}
	.main-footer .container div {
		padding-bottom: 95px;
		padding-top: 50px;
	}
	.questions p+p{
		display: none;
	}

	.phone-none{
		display: block;
	}
	.phone{
		display: none;
	}
	.last-block{
		font-size: 12px;
	}
	.last-block .share {	
		font-size: 16px;
	}
	.info-text h5{
		font-size: 20px;
	}
	.info-text p{
		margin-bottom: 100px;
	}
	.btn.more{
		margin-bottom: 140px;
	}
	.baner{
		margin-bottom: 0;		
	}
	.baner img{
		height: 310px;
	}
	.baner-small-2{
		display: none;
	}
	.baner-big{
		width: 74.5%;
	}
	.baner-small-1{
		width: 25%;
	}
	.product-wrap {
		padding: 30px 0 140px 0;
	}
	.picture-block{
		width: 100%;
		height: 345px;
	}
	.picture-block > img{
		width: 75%;
	}
	.additional-pic{
		width: 25%;
		height: 33.33333%;
	}
	.description-block h4, .description-block p, .description-block div{
		text-align: center;
	}
	.description-block h4{
		font-size: 20px;
	}
	.prod-price{
		font-size: 18px;
	}
	.visible-mb{
		display: block;
		font-size: 14px;
	}
	.visible-dt{
		display: none;
	}
	.prod-price {		
		margin-bottom: 30px;	
	}
	.description-block{
		width: 100%;
		padding-left: 125px;
		padding-right: 125px;
	}
	.color{
		margin-bottom: 90px;
	}
	.item-bag{
		height: 207px;
	}
	.basket-info{
		margin-top: 80px;
		margin-bottom: 45px;
	}

}
@media (max-width: 900px){
	.navigate li+li {
		margin-left: 20px;
	}
	.item{		
		margin-bottom: 20px;
	}
	.baner img{		
		height: 250px;
	}
	.text-hover {
		bottom: 22%;
		line-height: 15em;
	}
	.picture-block > img {
		width: 70%;		
		height: 345px;
	}
	.additional-pic{
		width: 30%;
		height: 115px;
	}
}
@media (max-width: 767px){
	.container {		
		padding: 0 20px 0 20px;
	}
	.slideshow, .baner{
		margin-left: -20px;
		margin-right: -20px;		
	}
	.burger{
		display: block;		
	}
	.navigate{
		display: none;		
	}
	.header-menu{
		padding-left: 20px;
	}
	li.search {
		margin-left: 0;
		margin-left: -20px;	
	}
	.search a{
		position: relative;
		left: 165px;
		bottom: 30px;		
	}
	.search form{
		display: block;			
	}

	h1.hidden, .phone{
		display: block;
	}
	h1.logo{
		display: none;
	}
	.admin{
		margin-right: 55px;
	}
	.admin>span{
		display: none;
	}
	.sale{
		display: none;
	}
	.new{
		width: 100%;
	}
	main h3 {
		margin: 60px 0 50px 0;
	}
	.hide-2, .phone-none{
		display: none;
	}
	.row {
		margin-left: -10px;
		margin-right: -10px;
	}
	.item {
		width: 50%;
		height: 295px;
		padding: 0 10px;
		font-size: 12px;		
	}
	.item img {
		margin-bottom: 30px;
		height: 223px;
		width: auto;		
	}
	.text-hover {
		bottom: 24%;
		line-height: 10em;
		margin: 0 auto;
		width: 50%;
	}
	.sale-wrap {
		margin: 0 -20px;
	}
	.btn.all {
		margin-top: 70px;
		margin-bottom: 105px;
	}
	.width-25{
		width: 50%;
	}
	.main-footer .container div {
		padding-bottom: 60px;
		padding-top: 30px;
	}
	.main-footer .container .questions, 
	.main-footer .container .phone{
		padding-bottom: 45px;
	}
	.main-footer{
		font-size: 12px;
	}
	.questions{
		padding-left: 0;
		border-right: 1px solid #e5e5e5
	}
	.care{
		padding-left: 18px;
	}
	.hr-hide{
		display: block;		
	}
	h6{
		font-size: 14px;
	}
	.width-25 li+li{
		margin-top: 25px;
	}
	.ic-fb, .ic-tw{
		position: relative;
		left: 95px;
		bottom: 82px;
	}
	.last-block{
		font-size: 10px;
	}
	.copy-block, .last-block ul{
		width: 100%;
		text-align: left;
	}
	.questions .ic-fb, .questions .ic-tw{
		display: none;
	}
	.share, .count{
		position: relative;
		left: 60px;
		top: 82px;
	}
	li.fb{
		display: inline-block;
	}
	.info-text{
		line-height: 2;
		padding-left: 35px;
		padding-right: 35px;
	}
	.info-text p{
		margin-bottom: 70px;
	}
	.baner-small-1{
		display: none;
	}
	.baner img{
		height: 300px;
	}
	.baner-big{
		width: 100%;		
	}
	.picture-block{
		height: auto;
	}
	.picture-block > img {
		width: 100%;
		height: auto
	}
	.additional-pic {
		width:  33.33333%;
		height: auto;
	}
	.product-wrap {
		padding: 14px 0 100px 0;
	}
	.description-block {		
		padding: 0px;		
	}
	.description-block h4{
		margin-top: 30px;
	}
	.description-block p{
		line-height: 2;
		margin-bottom: 35px;
		font-size: 14px;
	}
	.description-block .size, .description-block .color{
		text-align: left;
	}
	.size span, .color span{
		font-size: 12px;
	}
	.color{
		margin-bottom: 50px;
	}
	.description-block .btn {
		font-size: 18px;		
		padding: 0 60px;		
	}
	.item-bag{
		width: 100%;		
		height: 230px;
	}
	.name{
		font-size: 12px;
		margin-bottom: 13px;
	}
	.price-bag{
		font-size: 14px;
		margin-top: 0;
		margin-bottom: 30px;
	}
	.properties{
		font-size: 10px;
	}
	.delete{
		font-size: 11px;
		margin-top: 30px;
	}
	.size-item{
		margin: 10px 0 10px 0;
	}
	.item-bag{
		margin-bottom: 40px;
	}
	.basket-info{
		margin-top: 15px;
		margin-bottom: 20px;
		height: auto;
		padding: 10px 0 10px 0;		
	}
	.buy .btn{
		padding: 15px 30px 15px 30px;
		font-size: 18px;
		margin: 0 5% 35px 5%;
	}
}
@media (max-width: 620px){
	.text-hover {	
	width: 65%;
	}
}
@media (max-width: 520px){
	.text-hover {	
		width: 70%;
	}
}



@media (max-width: 479px){
	.baner img{
		height: 237px;
	}
	.text-hover {	
		width: 85%;		
		left: 14px;
	}	
}


/* MEDIA QUERY END */